* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 42px;
}

.menu .menu_item a {
    text-decoration: none;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    margin-top: 5px;
}

.subheader .subheader_call {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    text-align: right;
}

.subheader .subheader_phone {
    margin-top: 8px;
    display: block;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url('/src/img/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 18px;
}

.promo .promo_descr {
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.preference {
    min-height: 767px;
    margin: 18px auto 67px auto;
}

.label {
    text-align: center;
    background-color: #000000;
    width: 120px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    margin-top: 33px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.preference .preference_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.preference .preference_block .preference_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.preference .preference_block .preference_descr {
    width: 343px;
}

.preference .preference_block .preference_descr .preference_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.preference .preference_block .preference_descr .preference_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
} 